# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of popular languages for Data Science
- List of commonly used libraries for Data Science
- List of Data Science Tools
- Some arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. SciPy
3. NumPy
4. Pandas
5. PyTorch

Data Science Tools |Data Science Tools| |-| |Jupyter Notebook| |R Studio| |Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Niteesh KR